@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--primary-bg-color: #ecceae;
	--secondary-bg-color: #fbf6e2;
	--primary-text-color: #131842;
	--secondary-color: #e68369;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--primary-bg-color);

	font-family: 'Roboto Condensed', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.items-center {
	align-items: center;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

.gap-10 {
	gap: 10px;
}

.gap-20 {
	gap: 20px;
}

.gap-50 {
	gap: 50px;
}

.pad-10 {
	padding: 10px;
}

.pad-50 {
	padding: 50px;
}

.h-40 {
	height: 40px;
}

.w-400 {
	width: 400px;
}

.w-700 {
	width: 700px;
}

.bg-dark {
	background-color: var(--secondary-color);
}

.wrap {
	flex-wrap: wrap;
}

.navbar a,
.navbar h3 {
	color: var(--primary-bg-color);
	text-decoration: none;
	font-size: 18px;
}

.logo a {
	font-family: 'Bona Nova SC', serif;
	font-weight: 700;
	font-style: normal;
	color: var(--primary-text-color);
}

.product-card {
	background-color: var(--secondary-color);
	width: 200px;
	text-align: center;
	padding: 15px 10px;
	border: 2px solid var(--primary-text-color);
	border-radius: 10px;
}

.product-card button {
	padding: 5px;
	border: none;
	background: none;
	font-size: 20px;
	cursor: pointer;
}

#error-message {
	color: red;
	display: none;
	font-weight: 800;
}

.image-section {
	width: 35%;
	position: relative;
}

.image-section img {
	width: 100%;
	position: absolute;
	left: 20%;
	top: 50px;
	border: 2px solid var(--primary-text-color);
	border-radius: 5px;
}

.cart-section {
	width: 50%;
	margin-top: 60px;
	color: var(--primary-text-color);
}

.cart-section h3 {
	align-items: center;
}

.cart-section button {
	width: auto;
	margin-left: 33%;
	margin-right: 33%;
	background-color: var(--secondary-color);
	border-radius: 5px;
}

.details-section {
	padding: 30px;
	margin-top: 25%;
}
